<form [formGroup]="form" (ngSubmit)="submit()">
  <h2>Creating a new post</h2>

  <div class="form-control"
       [ngClass]="{invalid: form.controls['title'].invalid && form.controls['title'].touched}"
  >
    <label for="title">Enter a title:</label>
    <input type="text" id="title" formControlName="title">
    <div *ngIf="form.controls['title'].invalid && form.controls['title'].touched">
      <small *ngIf="form.controls['title'].errors?.['required']">
        The title cannot be empty
      </small>
    </div>
  </div>

  <div class="form-control"
       [ngClass]="{invalid: form.controls['description'].invalid && form.controls['description'].touched}"
  >
    <label for="description">Enter a description:</label>
    <input type="text" id="description" formControlName="description">
    <div *ngIf="form.controls['description'].invalid && form.controls['description'].touched">
      <small *ngIf="form.controls['description'].errors?.['required']">
        The description cannot be empty
      </small>
      <small *ngIf="form.controls['description'].errors?.['maxlength']">
        Maximum length is 160 characters. Currently it is {{form.controls['description'].value.length}} characters.
      </small>
    </div>
  </div>

  <div class="form-control">
    <label>Content of the post:</label>
    <quill-editor formControlName="text"></quill-editor>
  </div>

  <div class="form-control"
       [ngClass]="{invalid: form.controls['author'].invalid && form.controls['author'].touched}"
  >
    <label for="author">Enter a author:</label>
    <input type="text" id="author" formControlName="author">
    <div *ngIf="form.controls['author'].invalid && form.controls['author'].touched">
      <small *ngIf="form.controls['author'].errors?.['required']">
        A post cannot be without an author
      </small>
    </div>
  </div>
  <button
    type="submit"
    class="btn badge-dark btn-block"
    [disabled]="form.invalid"
  >
    Create post
  </button>
</form>
